# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
*.swp
*.swo



# Local env files
.env
.env.local
.env.*.local

# Assets and audio
assets/
*/assets/sfx/
*/sfx/
music/
*/music/
*/public/assets/audio/
*/public/assets/sfx/
*/public/sfx/
*/src/sfx/
*/src/music/


